*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: rgba(255,255,255,0.08);
  --coding-green: #25F284;
  --coding-blue: #00E7FF;
}

.background{
  min-width: 100%;
  max-height: 100%;
  z-index: -10;
  position: absolute;
  top: 0;
}

.content {display: flex;
align-items: center;
}

.clock{
  position: absolute;
  bottom: 8vh;
  right: 6vw;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.day-wrap{
  max-height: 3vh;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border-top: 3px solid white;
  align-items: center;
  justify-content: center;
  z-index: 10;

}
/* #sun-and-moon{
  display: flex;
  transform: translateY(3rem) rotate(45deg) ; 
}

#sun,#moon{
  border-radius: 2rem;
  width: 20px;
  height: 20px;
  margin: 0.5rem 1rem;
  z-index: -5;
}

#sun{
  background-color: orange;
}

#moon{
  background-color: lightgray;
} */

.blurb-wrap{
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 15vw;
  margin: 0 5vw 0 5vw;
  color: white;

  text-align: center;
}

.blurb-wrap h1{
  width: 100%;
  font-size: 1.75rem;
  border-top: 3px solid white;
  border-bottom: 3px solid white;


}

body {
  margin: 0;
  background-color: var(--background-color);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.phone{
  width: 22.5vw;
  height: 90vh;
  background-color: black;
  border: 2px solid rgb(36, 36, 36);
  border-radius: 4rem;
  margin: 5vh 0;
  font-family: 'Inconsolata', monospace;
}

.phone h4{
  width: 100%;
  margin: auto;
  color: red;
  text-align: center;
  padding: 1rem 0.5rem 0 0;
}

.phone p{
  color: white;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.box {
  position: absolute;
  width: 90vh;
  height: 90vh;
  border-radius: 2rem;
  background-color: var(--foreground-color);
  left: 50vw;
  top: 5vh;
}

.continue-btn{
  background-color: var(--foreground-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.continue-btn:hover{
  outline: 2px solid white;
}

.continue-btn h5{
  opacity: 1;
  color: white;
  font-size: 1.125rem;
  margin: auto;
}

/* How many seconds per day for each sensor */
/* {'CCTV': 2434.0470742984985, 'Webcam': 1645.7142857142858, 'Phone_Mic': 3000.0} */

.ellipse1 {
  position: absolute;
  left: 80vw;
  top: 50vh;
  width: 10vw;
  height: 12vh;
  border-radius: 50%;
  background: grey;
  opacity: 0.2;
}

.ellipse2 {
  position: absolute;
  left: 75vw;
  top: 75vh;
  width: 5vw;
  height: 12vh;
  border-radius: 50%;
  background: grey;
  opacity: 0.2;
}

.ellipse3 {
  position: absolute;
  left: 55vw;
  top: 29vh;
  width: 14vh;
  height: 14vh;
  border-radius: 50%;
  background: grey;
  opacity: 0.2;
}



#ball{
  background-color: rgb(255, 255, 0);
  opacity: 1;
  z-index: 40;

}

.ball {
  --x: 50;
  --y: 50;
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vh;
  height: 2.5vh;
  opacity: 0.25;
  z-index: 50;

}

.hidden{
  display: none;
}

.ball.video-call{
  outline: 3px solid blue;
}

.ball.phone-call{
  outline: 3px solid rgb(0, 255, 0);
}

.spot {
  --x: 50;
  --y: 50;

  position: absolute;
  opacity: 0.1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 5vh;
  top: 13vh;
  height: 5vh;
}

.red-spot{
  color: red;
  left: 54vw;
}

.green-spot{
  color: green;
  left: 58vw;
}

.blue-spot{
  color: blue;
  left: 62vw;
}

.spot.active{
  opacity: 1;
}

.memory-wrap{
  margin: 1rem 0;
}


#vitals{
  color:var(--coding-green);
}

#risk{
  color:var(--coding-blue)
}

.disease-wrap{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.disease-row{
  width: 100%;
  display: flex;
  align-items: center;
}

.disease-row.hidden{
  display: none;
}

.disease-row p{
  text-align: left;
  width: 60%;
  padding-right: 2rem;
  margin: 0.25rem 0;
}

.disease-row div{
  background: white;
  height: 1rem;
}

.disease-row.danger div{
  background: red
}


.vitals-row{
  padding: 0 3rem;
  justify-content: space-between;
  display: flex;
}

.vitals-row p{
  padding: 0;
  margin: 0.25rem  0;
}